h1 {
    text-align: center;
    color: indigo;
}
h2 {
    color: cornflowerblue;
    font-size: 200%;
}
p {
    font-size: 150%;
}
a {
    font-size: 150%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }